.layout-container {
    flex: 1;
    margin-left: 80px; /* Dejamos espacio para el navbar */
    padding: 0.4rem;
    overflow: hidden; /* Evita doble scroll */

    min-height: 50vh;
    width: calc(100vw - 320px);
    /*outline: 2px solid green;*/
}

.main-content {
    flex: 1;
    background-color: #f8fafc;
    overflow-y: auto;
    margin-right: 40px;
    /*outline: 2px solid red;*/
}

/* --- MAGIA RESPONSIVE --- */
/* Cuando la pantalla sea de 768px o menos (Tablets y Celulares) */
@media (max-width: 768px) {
    .layout-container {
        flex-direction: column; /* Ponemos uno arriba del otro */
    }

    .main-content {
        margin-left: 0; /* Ya no dejamos espacio a la izquierda */
        margin-top: 70px; /* Dejamos espacio ARRIBA porque el menú irá arriba */
        padding: 20px; /* Menos padding en pantallas chicas */
        min-height: calc(100vh - 70px);
        padding: 1.5rem;
    }
}